@import '../variables.css';

.root {
  font-weight: 500;

  color: var(--dark-grey-text);
  background-color: var(--main-bg-color);
}

.container h2 {
  font-weight: 500;

  margin-left: 15px;
}

.container {
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;

  display: block;

  width: 60%;
  min-width: var(--screen-sm-min);
  min-height: 65px;
  margin-bottom: 0;
  padding: 10px 20px;

  transform: translate(-50%,-50%);

  border: 1px solid var(--brand-color);
  border-radius: 10px;
  background: var(--main-bg-color);
}

.attributes {
  display: block;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 30px;
  height: 30px;

  border: 0;
  background: url('./close.svg') no-repeat;
}



.close:hover,
.remove:hover {
  opacity: .3;
}

.cartList {
  margin: 0;
  padding: 0;

  border-bottom: 1px solid rgba(0,0,0,.0625);
}


.cartEmpty {
  display: none;

  height: 250px;

  text-transform: uppercase;

  color: var(--silver-color);
  background: url('./empty.png') no-repeat;
  background-position: 100px 0;

  justify-content: center;
}



.cartEmpty b {
  font-size: 1.6em;
  font-weight: 500;

  margin-top: 20px;
  margin-left: 200px;
}


.total {
  display: flex;

  min-height: 80px;
  padding: 5px 15px;

  align-items: center;
}

.total .sum {
  margin-right: auto;
}

.total .button {
  width: 100px;
}
